/* src/GuessTheNumber.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
}

input, button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}

#resultParas p {
    margin: 0;
}